n8n/workflows/huvi_outscraper_discovery.json
{
  "name": "HUVI - Descoberta Outscraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "huvi-outscraper-discovery",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200],
      "webhookId": "huvi-outscraper-discovery"
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "tenant_credits",
        "limit": 1,
        "matchType": "allColumns",
        "matchColumns": "tenant_id",
        "matchValue": "={{$json.body.tenantId}}"
      },
      "name": "Supabase - Get Credits",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 200],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "8TEbcDMv4pFPkspM",
          "name": "HUVIbase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ ($json.opportunity_used !== undefined && $json.opportunity_used !== null) ? $json.opportunity_used : 0 }}",
              "operation": "smaller",
              "value2": "={{ ($json.opportunity_limit !== undefined && $json.opportunity_limit !== null) ? $json.opportunity_limit : 80 }}"
            }
          ]
        }
      },
      "name": "IF - Credits Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Limite de créditos do ciclo atingido para o tenant.\"\n}",
        "options": {}
      },
      "name": "Respond Webhook - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.outscraper.com/maps/search-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Webhook').first().json.body.segment }} em {{ $('Webhook').first().json.body.city }} - {{ $('Webhook').first().json.body.state }}"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "name": "async",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.OUTSCRAPER_API_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Outscraper API - Iniciar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Verificar se recebemos o ID do job assíncrono\nconst input = $input.first().json;\n\nif (input.error || input.code) {\n  const errorMsg = input.error?.message || input.message || JSON.stringify(input.error || input);\n  return [{ json: { \n    jobError: true, \n    errorMessage: `Erro ao iniciar busca na Outscraper: ${errorMsg}` \n  }}];\n}\n\n// async=true retorna { id: 'job-id', status: 'Pending', ... }\nif (!input.id) {\n  // Pode ser que retornou síncrono mesmo com async=true (dados pequenos)\n  if (input.data && Array.isArray(input.data)) {\n    return [{ json: { \n      jobError: false,\n      jobId: null,\n      syncData: input.data // dados já disponíveis\n    }}];\n  }\n  return [{ json: { \n    jobError: true, \n    errorMessage: 'Resposta inesperada da Outscraper: sem ID de job e sem dados.' \n  }}];\n}\n\nreturn [{ json: { \n  jobError: false,\n  jobId: input.id,\n  syncData: null\n}}];"
      },
      "name": "Extrair Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.jobError }}",
              "value2": false
            }
          ]
        }
      },
      "name": "IF - Job OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.errorMessage || 'Erro ao iniciar busca na Outscraper' }}\"\n}",
        "options": {}
      },
      "name": "Respond Webhook - API Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "// Verificar se os dados já vieram de forma síncrona (job pequeno)\nconst input = $input.first().json;\n\nif (input.syncData && Array.isArray(input.syncData)) {\n  return [{ json: { hasSyncData: true, data: input.syncData, jobId: null } }];\n}\n\nreturn [{ json: { hasSyncData: false, jobId: input.jobId } }];"
      },
      "name": "Check Sync Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasSyncData }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF - Sync ou Async",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1540, -200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.outscraper.com/requests/{{ $('Check Sync Data').first().json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.OUTSCRAPER_API_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Outscraper - Poll Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1760, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Aguardar 5 segundos e verificar status do job\nconst pollResult = $input.first().json;\n\n// Se ainda está processando, retornar sinal de retry\nif (pollResult.status === 'Pending' || pollResult.status === 'Running') {\n  return [{ json: { isPending: true, jobId: $('Check Sync Data').first().json.jobId } }];\n}\n\n// Job concluído — extrair dados\nif (pollResult.data && Array.isArray(pollResult.data)) {\n  return [{ json: { isPending: false, data: pollResult.data } }];\n}\n\n// Job falhou\nreturn [{ json: { \n  isPending: false,\n  data: null,\n  error: `Job Outscraper falhou. Status: ${pollResult.status || 'desconhecido'}` \n}}];"
      },
      "name": "Check Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2200, -100],
      "webhookId": "huvi-outscraper-wait"
    },
    {
      "parameters": {
        "jsCode": "// Unificar dados de ambos os caminhos (sync ou poll)\nconst syncData = (() => {\n  try { return $('IF - Sync ou Async').first().json.data; } catch (e) { return null; }\n})();\n\nconst pollData = (() => {\n  try { return $('Check Poll Status').first().json.data; } catch (e) { return null; }\n})();\n\nconst data = syncData || pollData;\n\nif (!data || !Array.isArray(data) || data.length === 0) {\n  return [{ json: { apiError: false, noResults: true, data: [] } }];\n}\n\nconst firstBatch = data[0];\nif (!firstBatch || !Array.isArray(firstBatch) || firstBatch.length === 0) {\n  return [{ json: { apiError: false, noResults: true, data: data } }];\n}\n\nreturn [{ json: { apiError: false, noResults: false, data: data } }];"
      },
      "name": "Unificar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "opportunities",
        "limit": 1000,
        "matchType": "allColumns",
        "matchColumns": "tenant_id",
        "matchValue": "={{$('Webhook').first().json.body.tenantId}}"
      },
      "name": "Supabase - Get Existing Opps",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, -200],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "8TEbcDMv4pFPkspM",
          "name": "HUVIbase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tenantId = $('Webhook').first().json.body.tenantId;\nconst city = $('Webhook').first().json.body.city;\nconst state = $('Webhook').first().json.body.state;\n\nconst validatedData = $('Unificar Dados').first().json;\nif (validatedData.noResults) {\n  return [{ json: { summary: { found: 0, created: 0, duplicates: 0 }, tenantId } }];\n}\n\nconst leads = validatedData.data[0];\n\nconst existingOpps = $input.all().map(e => e.json).filter(e => e && !e.error);\n\nlet validLeads = [];\nlet duplicates = 0;\n\nleads.forEach(lead => {\n  if (!lead || !lead.name) return;\n  \n  // BLINDAGEM DA FONTE: Só aceita o lead se houver pelo menos uma forma de contato\n  const hasContact = lead.phone || lead.site || lead.email;\n  if (!hasContact) return; // Descarta lead sem contato\n\n  const isDup = existingOpps.some(e => \n    (e.phone && lead.phone && e.phone === lead.phone) || \n    (e.website && lead.site && e.website === lead.site)\n  );\n  if (isDup) {\n    duplicates++;\n  } else {\n    let score = 0;\n    if (lead.phone) score += 15;\n    if (lead.site) score += 20;\n    if (lead.rating >= 4.0) score += 20;\n    if (lead.reviews >= 50) score += 15;\n    if (lead.full_address) score += 10;\n    if (lead.type) score += 20;\n    \n    validLeads.push({\n      tenant_id: tenantId,\n      company_name: lead.name,\n      phone: lead.phone || null,\n      website: lead.site || null,\n      address: lead.full_address || null,\n      city: city,\n      state: state,\n      rating_value: lead.rating || null,\n      rating_count: lead.reviews || null,\n      google_maps_url: lead.business_url || null,\n      category: lead.type || null,\n      origin: 'Google Maps',\n      source_service: 'Outscraper',\n      status: score >= 60 ? 'scored' : 'discovered',\n      score: score\n    });\n  }\n});\n\nif (validLeads.length === 0) {\n  return [{ json: { summary: { found: leads.length, created: 0, duplicates: duplicates }, tenantId } }];\n}\n\nreturn validLeads.map(l => ({ json: { ...l, summary: { found: leads.length, created: validLeads.length, duplicates } } }));"
      },
      "name": "Deduplicação e Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.company_name ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF - Has Leads",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3080, -200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "opportunities",
        "dataMode": "defineBelow",
        "valuesUi": {
          "values": [
            { "name": "tenant_id", "value": "={{ $json.tenant_id }}" },
            { "name": "company_name", "value": "={{ $json.company_name }}" },
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "website", "value": "={{ $json.website }}" },
            { "name": "address", "value": "={{ $json.address }}" },
            { "name": "city", "value": "={{ $json.city }}" },
            { "name": "state", "value": "={{ $json.state }}" },
            { "name": "rating_value", "value": "={{ $json.rating_value }}" },
            { "name": "rating_count", "value": "={{ $json.rating_count }}" },
            { "name": "google_maps_url", "value": "={{ $json.google_maps_url }}" },
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "origin", "value": "={{ $json.origin }}" },
            { "name": "source_service", "value": "={{ $json.source_service }}" },
            { "name": "status", "value": "={{ $json.status }}" },
            { "name": "score", "value": "={{ $json.score }}" }
          ]
        }
      },
      "name": "Supabase - Create Opps",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3300, -400],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "8TEbcDMv4pFPkspM",
          "name": "HUVIbase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = items[0]?.json?.summary || { found: 0, created: 0, duplicates: 0 };\nconst tenantId = $('Webhook').first().json.body.tenantId;\n\nconst creditsRow = $('Supabase - Get Credits').first().json;\n\nlet oldUsed = 0;\nlet weight = 1;\ntry {\n  oldUsed = parseInt(creditsRow.opportunity_used) || 0;\n  weight = parseInt(creditsRow.weight_outscraper_search) || 1;\n} catch (e) {}\n\nconst newUsed = oldUsed + weight;\n\nreturn [{ json: { summary, tenantId, newUsed, weight } }];"
      },
      "name": "Prepare Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, -200]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "tenant_credits",
        "matchType": "allColumns",
        "matchColumns": "tenant_id",
        "matchValue": "={{ $json.tenantId }}",
        "dataMode": "defineBelow",
        "valuesUi": {
          "values": [
            { "name": "opportunity_used", "value": "={{ $json.newUsed }}" }
          ]
        }
      },
      "name": "Supabase - Update Credits",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3740, -300],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "8TEbcDMv4pFPkspM",
          "name": "HUVIbase"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "outscraper_search_log",
        "dataMode": "defineBelow",
        "valuesUi": {
          "values": [
            { "name": "tenant_id", "value": "={{ $json.tenantId }}" },
            { "name": "segment", "value": "={{ $('Webhook').first().json.body.segment }}" },
            { "name": "city", "value": "={{ $('Webhook').first().json.body.city }}" },
            { "name": "state", "value": "={{ $('Webhook').first().json.body.state }}" },
            { "name": "results_count", "value": "={{ $json.summary.found }}" },
            { "name": "valid_count", "value": "={{ $json.summary.created }}" },
            { "name": "duplicates_count", "value": "={{ $json.summary.duplicates }}" },
            { "name": "status", "value": "completed" }
          ]
        }
      },
      "name": "Supabase - Search Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3740, -100],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "8TEbcDMv4pFPkspM",
          "name": "HUVIbase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"found\": {{ $('Prepare Logs').first().json.summary.found || 0 }},\n  \"created\": {{ $('Prepare Logs').first().json.summary.created || 0 }},\n  \"duplicates\": {{ $('Prepare Logs').first().json.summary.duplicates || 0 }},\n  \"errors\": 0,\n  \"credits_consumed\": {{ $('Prepare Logs').first().json.weight || 1 }},\n  \"credits_total\": {{ $('Prepare Logs').first().json.newUsed }}\n}",
        "options": {}
      },
      "name": "Respond Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3960, -200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Supabase - Get Credits", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Credits": {
      "main": [[{ "node": "IF - Credits Available", "type": "main", "index": 0 }]]
    },
    "IF - Credits Available": {
      "main": [
        [{ "node": "Outscraper API - Iniciar", "type": "main", "index": 0 }],
        [{ "node": "Respond Webhook - Error", "type": "main", "index": 0 }]
      ]
    },
    "Outscraper API - Iniciar": {
      "main": [[{ "node": "Extrair Job ID", "type": "main", "index": 0 }]]
    },
    "Extrair Job ID": {
      "main": [[{ "node": "IF - Job OK", "type": "main", "index": 0 }]]
    },
    "IF - Job OK": {
      "main": [
        [{ "node": "Check Sync Data", "type": "main", "index": 0 }],
        [{ "node": "Respond Webhook - API Error", "type": "main", "index": 0 }]
      ]
    },
    "Check Sync Data": {
      "main": [[{ "node": "IF - Sync ou Async", "type": "main", "index": 0 }]]
    },
    "IF - Sync ou Async": {
      "main": [
        [{ "node": "Unificar Dados", "type": "main", "index": 0 }],
        [{ "node": "Outscraper - Poll Result", "type": "main", "index": 0 }]
      ]
    },
    "Outscraper - Poll Result": {
      "main": [[{ "node": "Check Poll Status", "type": "main", "index": 0 }]]
    },
    "Check Poll Status": {
      "main": [[{ "node": "Wait 5s", "type": "main", "index": 0 }]]
    },
    "Wait 5s": {
      "main": [[{ "node": "Outscraper - Poll Result", "type": "main", "index": 0 }]]
    },
    "Unificar Dados": {
      "main": [[{ "node": "Supabase - Get Existing Opps", "type": "main", "index": 0 }]]
    },
    "Supabase - Get Existing Opps": {
      "main": [[{ "node": "Deduplicação e Score", "type": "main", "index": 0 }]]
    },
    "Deduplicação e Score": {
      "main": [[{ "node": "IF - Has Leads", "type": "main", "index": 0 }]]
    },
    "IF - Has Leads": {
      "main": [
        [{ "node": "Supabase - Create Opps", "type": "main", "index": 0 }],
        [{ "node": "Prepare Logs", "type": "main", "index": 0 }]
      ]
    },
    "Supabase - Create Opps": {
      "main": [[{ "node": "Prepare Logs", "type": "main", "index": 0 }]]
    },
    "Prepare Logs": {
      "main": [[{ "node": "Supabase - Update Credits", "type": "main", "index": 0 }]]
    },
    "Supabase - Update Credits": {
      "main": [[{ "node": "Supabase - Search Log", "type": "main", "index": 0 }]]
    },
    "Supabase - Search Log": {
      "main": [[{ "node": "Respond Webhook - Success", "type": "main", "index": 0 }]]
    }
  }
}
