n8n/workflows/huvi_conversion_webhook.json
{
  "name": "HUVI_Conversion_Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "huvi-conversion",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "huvi-conversion-webhook"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "conversions",
        "columns": "tenant_id, opportunity_id, conversion_type, expected_value, closed_value, conversion_date",
        "upsertDataUI": {
          "upsertDataValues": [
            {
              "column": "tenant_id",
              "value": "={{ $json.body.tenant_id }}"
            },
            {
              "column": "opportunity_id",
              "value": "={{ $json.body.opportunity_id }}"
            },
            {
              "column": "conversion_type",
              "value": "={{ $json.body.conversion_type || 'direct_checkout' }}"
            },
            {
              "column": "expected_value",
              "value": "={{ $json.body.value || 0 }}"
            },
            {
              "column": "closed_value",
              "value": "={{ $json.body.value || 0 }}"
            },
            {
              "column": "conversion_date",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Supabase Conversions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "G8S3R0m6j4qX1L9w",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "opportunities",
        "updateKey": "id",
        "updateDataUI": {
          "updateDataValues": [
            {
              "column": "id",
              "value": "={{ $('Webhook').item.json.body.opportunity_id }}"
            },
            {
              "column": "status",
              "value": "converted"
            }
          ]
        }
      },
      "id": "3",
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "G8S3R0m6j4qX1L9w",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\\n  \"success\": true,\\n  \"message\": \"Conversão registrada com sucesso\",\\n  \"opportunity_id\": \"{{ $('Webhook').item.json.body.opportunity_id }}\"\\n}",
        "options": {}
      },
      "id": "4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase Conversions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Conversions": {
      "main": [
        [
          {
            "node": "Update Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opportunity": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "dc1e8cc3-92f7-4148-be22-3cf7d5cba15d",
  "id": "1k7y2z0n-4m3p-9b1v-8c7x-5l6j9h2g4f0d",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
